<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAIh4t48EWNr1mBSSU4_EzM2P0g2mbSMoE</string>
	<key>GCM_SENDER_ID</key>
	<string>884361759541</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.glo.csd14ry</string>
	<key>PROJECT_ID</key>
	<string>app392-aeb0d</string>
	<key>STORAGE_BUCKET</key>
	<string>app392-aeb0d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:884361759541:ios:8455ab5f1eed8d26589a7c</string>
</dict>
</plist>